extend layout
block content
  h1 About Me
  h2 Contact
  ul
    li Email: jbalzer ( at ) ucla.edu
    li Current employer: &nbsp;
      a(href='https://www.vathos-robotics.com' target='_blank') Vathos
    li Github:&nbsp;
      a(href='https://github.com/jonabalzer' target='_blank') https://github.com/jonabalzer
    li LinkedIn:&nbsp;
      script(src="http://platform.linkedin.com/in.js" type="text/javascript")
      script(type="IN/MemberProfile" data-id="http://www.linkedin.com/in/jonathan-balzer-27b34b104" data-format="hover" data-related="false")
  h2 Curriculum Vitae  
  p You can download a recent version of my CV 
    a(href='public/pdf/cv.pdf' target='_blank') here.