mixin create-app-menu()
  .navbar.navbar-default(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-menu-collapsed", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar 
      .collapse.navbar-collapse(id="main-menu-collapsed")
        ul.nav.navbar-nav
          block
          
mixin add-main-entry-simple(name, url)
  li.menu-item
    a.dropdown-toggle(href!=url)!=name
  

mixin add-main-entry(name)
  li.dropdown.menu-item
    a.dropdown-toggle(href="#" data-toggle="dropdown")!=name
    ul.dropdown-menu
      block
    
mixin add-entries(...items)
  each item in items 
    li.menu-item 
      a(href="#" data-toggle="modal" data-target='#'+item.id)!=item.text
      
mixin add-simple-links(...items)
  each item in items 
    li.menu-item 
      a(href=item.url id=item.id)!=item.text
