extend layout
block content
  h1 Projects
  h2 Virtual Reality
  p vnorama offers fully immersive playback of VR video, including 3D rendering and 180° or 360° field of view. Help us by joining the public beta test on Google Play.
  img.img-responsive(src='public/imgs/deviceart.png')
  h2 Virtual Try-On
  p This  is the screen capture of a demo that I put together for a client of Vathos. I am real, the glasses are fake. The input data consist of a polygonal mesh model of my head and a stream of RGBD images recorded with  an Intel RealSense camera. The tracking algorithm is implemented in GLSL and runs on the GPU in real time.
  iframe(src="https://www.youtube.com/embed/HjnljAr9OtA" frameborder="0" allowfullscreen)