extend layout
block content
  h1 Projects
  h2 Virtual Reality
  p vnorama offers fully immersive playback of VR video, including 3D rendering and 180° or 360° field of view. Help us by joining the public beta test on Google Play.
  a(href="https://www.vnorama.com" target="_blank")
    img.img-responsive(src='public/imgs/deviceart.png')
  h2 Virtual Try-On
  p This  is the screen capture of a demo that I put together for a client of Vathos. I am real, the glasses are fake. The input data consist of a polygonal mesh model of my head and a stream of RGBD images recorded with  an Intel RealSense camera. The tracking algorithm is implemented in GLSL and runs on the GPU in real time.
  iframe(src="https://www.youtube.com/embed/HjnljAr9OtA" frameborder="0" allowfullscreen)
  h2 Real-Time Dense Variational Stereo
  p Joint work with 
    a(href="http://www.icg.tugraz.at/Members/author/graber" target="_blank") Gottfried Graber
  iframe(src="https://www.youtube.com/embed/scqEYt9XjCg" frameborder="0" allowfullscreen)
  h2 Shape Optimization
  img.img-responsive(src='public/imgs/shape.gif')
  h2 YAS
  p YAS is a software for the alignment of RGBD images recorded from a discrete set of vantage points and their integration into a common polygonal mesh model.
  iframe(src="https://www.youtube.com/embed/zxi6pUml2Zs" frameborder="0" allowfullscreen)
  h2 Numerical Conformal Maps
  p NURBS-based boundary element methods for the construction of conformal maps between two planar simply connected domains.
  .row
    .col-xs-6.col-sm-6
      img.img-responsive(src='public/imgs/fw_star.png')
    .col-xs-6.col-sm-6
      img.img-responsive(src='public/imgs/fw_disk.png')
  h2 Real-Time Structure from Motion
  iframe(src="https://www.youtube.com/embed/_mtR9VqODPA" frameborder="0" allowfullscreen)
  iframe(src="https://www.youtube.com/embed/OjyeeSIwlZk" frameborder="0" allowfullscreen)
  h2 Isogeometric Analysis for Visual Variational Reconstruction
  iframe(src="https://www.youtube.com/embed/5dA9j2BQeRQ" frameborder="0" allowfullscreen)
  h2 Specular Surface Reconstruction
  iframe(src="https://www.youtube.com/embed/w-sczR3Sx9Q" frameborder="0" allowfullscreen)
  
    