extend layout
block content
  h1 Teaching
  h2 Numerical Optimization
  ul
    li 
      a(href="static/pdf/e1.pdf" target="_blank") Fundamentals
    li 
      a(href="static/pdf/e2.pdf" target="_blank") Stepsize Control
    li 
      a(href="static/pdf/e3.pdf" target="_blank") Conjugate Gradients Method
    li 
      a(href="static/pdf/e4.pdf" target="_blank") KKT Conditions
    li 
      a(href="static/pdf/e5.pdf" target="_blank") Simplex Method
    li 
      a(href="static/pdf/e6.pdf" target="_blank") Interior Point Methods
    li 
      a(href="static/pdf/e7.pdf" target="_blank") Quadratic Programming
  h2 Introduction to Computer Graphics
  ul  
    li 
      a(href="static/pdf/nurbs.pdf" target="_blank") Geometric Representations for CAD    