extend layout
block content
  h1 Teaching
  h2 Numerical Optimization
  ul
    li 
      a(href='#') Fundamentals
    li 
      a(href='#') Stepsize Control
    li 
      a(href='#') Conjugate Gradients Method
    li 
      a(href='#') KKT Conditions
    li 
      a(href='#') Simplex Method
    li 
      a(href='#') Interior Point Methods
    li 
      a(href='#') Quadratic Programming
  h2 Introduction to Computer Graphics
  ul  
    li 
      a(href='#') Geometric Representations for CAD    